*,
::after,
::before{
    box-sizing: border-box;
}
body{
  background-color: whitesmoke;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{text-decoration: none;}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
 /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out;
  background-color: #333;
 
}

.navbar.sticky{
  background: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand{
  color: #666;

}

.navbar-toggler{
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span{
  color: #666;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container,
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: #666;
}

.nav-link a {
  color: #666;
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 20px;
}



@media screen and (max-width:768px) {
    [aria-controls="navbarDropdown"] {
        display: block;
        
      } 
     [aria-expanded="false"]  ~ .container ul {
        display: none;
     }
  
     [aria-expanded="true"]  ~ .container {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 100vh;
       background-color: green;
       }
     [aria-expanded="true"]  ~ .container .navbar {
       border: 4px solid yellow;
       
       background-color: yellow;
       
       }
  [aria-expanded="false"]  ~ .container .navbar {
       border: 4px solid yellow;
      background-color: yellow;
       
       }
     [aria-expanded="true"]  ~ .container ul {
        display: block;
       /*position: absolute;*/
        top: 50px;
        right: 0;
        /*background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));*/
        width: 100%;
        text-align: right;
        box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
    }

    [aria-expanded="true"]  ~ .container ul li a{
        margin-right: 20px;
        color: #666;
    }

 
}